@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>StackOverClone</title>
</head>
<body>
    <h1>StackOverClone</h1>
    <p>@Html.ActionLink("Go to Posts", "Index", "Posts")</p>
</body>
</html>